/* ./css/stylemenu.css */
/*메뉴 설정과 가운데 정렬을 위한 css*/
        * { margin: 0; padding: 0; }
        #wrapper {
            width: 900px;
            margin: 0 auto;
        }
        #button {
            width: 100px;
            color: white;
            background-color: #FFFFFF;
            text-align: center;
            height: 60px;
            padding: 20px 0px 0px 0px;
            font-size: 20px;
        }
        #button p { 
            font-size: 20px;
            background-color: black;
            margin-top: 5px;
        }
        #button a {
            text-decoration: none;
            text-align: center;
            color:black;
        }
        #button a:hover {
            text-decoration: underline;
            text-align: center;
            background-color: darkblue;
        }
        #button img {
            background-size: cover;
            width: 80px;
        }
        #nav {
            padding-left: 60px;
        }
        #nav li{
            font-size: 20px;
            display: inline-block;
            margin-top: 3px;
            margin-bottom: 20px;
            list-style-type: none;
            width: 80px;
            border-bottom: 1px solid lightgray;
            margin-left: 55px;
            text-align: center;
        }
        a { text-decoration: none; }
        a:hover { color: #FFFFFF; }
        #nav li:hover { background-color: black; color: white;}